body {
  font-family: helvetica;
}

#navbar {
  display: flex;
  justify-content: space-around;
}

.campus-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.campus-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.campus-card img {
  height: 100px;
}

.single-campus img {
  height: 300px;
}

.campus-description-paragraph {
  text-indent: 2rem;
}

.student-list {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.student-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5px;
}

.student-card img {
  height: 100px;
}

.single-student img {
  height: 100px;
}

.green-gpa {
  color: green;
}

.orange-gpa {
  color: orange;
}

.red-gpa {
  color: red;
}
