body {
  font-family: helvetica;
}

#navbar {
  display: flex;
  justify-content: space-around;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.campus-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.campus-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

.campus-card-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.campus-card-link img {
  height: 100px;
}

.single-campus img {
  height: 300px;
}

.campus-description-paragraph {
  text-indent: 2rem;
}

.campus-student-list {
  display: flex;
}

.campus-student-list button {
  margin-left: 10px;
}

.student-list {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.student-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5px;
}

.student-card img {
  height: 100px;
}

.single-student img {
  height: 100px;
}

.update-input {
  width: 20rem;
}

.update-input-textarea {
  width: 30rem;
}

.green-gpa {
  color: green;
}

.orange-gpa {
  color: orange;
}

.red-gpa {
  color: red;
}
